* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.none {
  display: none !important;
}

.login {
  z-index: 20;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login * {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.login input {
  border-radius: 50px;
  border: none;
  font-size: 20px;
  padding: 15px;
  box-shadow: 4px 4px 20px 0px #888888;
}

.login button {
  background-color: rgb(95, 144, 228);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  font-weight: bold;
  box-shadow: 4px 4px 20px 0px #888888;
  transition: 0.1s all ease-in-out;
}

.login button:hover {
  background-color: rgb(70, 108, 172);
}

.game {
  height: 100vh;
  width: 100vw;
  background-color: rgb(236, 236, 236);
  /* cursor: none;  */
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: 0% 0%;
  transition: 0.3s transform ease-out;
}

.container-text {
  opacity: 0.3;
  font-size: 15px;
}

/* .cursor {
  border-radius: 100%;
} */

.player-list {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(102 102 102 / 33%);
  width: 17%;
  min-height: 25%;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 20px 0px #888888;
  padding: 5px;
  transform: translateX(-100%);
  z-index: 100;
  transition: 0.2s all ease-in-out;
}

.player-list:hover {
  transform: translateX(0);
}

.player-index {
  transform: rotateZ(90deg);
  transform-origin: right;
  position: absolute;
  right: -14px;
  background-color: #9f9f9f;
  padding: 5px;
  bottom: 0px;
  z-index: 100;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.detector {
  z-index: 100;
  position: absolute;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.cursor-car {
  pointer-events: none;
  height: 50px;
  width: auto;
  /* transform: translate(-50%,25%); */
}


.ball {
 /* position: absolute;*/
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: violet;
  z-index: 100;
}

.night {
  width: 100vw;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.41);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-mask-position: 0px 0px;
  /* -webkit-mask-size: 100vw 100vh; */
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 64px, rgba(0, 0, 0, 1) 74px);

}

.bTest {
  top: 10%;
  left: 10%;
  height: 30px;
  width: 30px;
  background-color: red;
  position: absolute;
}

